---
layout: default
heading: COVID-19 Data Visualization
---

<div class="container">
  <div class='row'>
  	<div class='col-lg-12'>
      <h1>{{ page.heading }}</h1>
  		<p>{{ site.description }}</p>
  	</div>
  </div>
  <div class='row'>
    <div class='col-lg-12'>
      <p>COVID-19 has disrupted our lives in unprecedented ways. Our research group is trying to estimate the extent of its prevalence in the society, quantify its infectiousness, model its spread and develop optimal  mitigation policies. The focus of our work is primarily on Canadian data.</p>
    </div>
    <div class='col-lg-12'>
      <p>Information</p>
      <ul>
        <li>Data Source: <a target="_blank" href="https://github.com/ishaberry/Covid19Canada">https://github.com/ishaberry/Covid19Canada</a></li>
        <li>Last Updated: June 10, 2020</li>
        <li>Created by: Liang Cao and Siang Lim with contributions from Bhushan Gopaluni, Sirish Shah and Aditya Tulsyan</li>
      </ul>
      <hr>
  </div>  
</div>
<div class="container-fluid">
  <div class='row display-flex'>
    <div class='col-lg-6 col-sm-12'>	
      {% include charts/Cumulative_cases.html %}
  	</div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/New_cases.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/Cumulative_deaths.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/New_deaths.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>	
      {% include charts/cases_of_Canada.html %}
  	</div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/ratio_line.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/polar.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/infection_ratio.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>	
      {% include charts/mortality_ratio.html %}
  	</div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/recovered_ratio.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/Sources_of_infection.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/age_distribution.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/Total_Hospitalized.html %}
        </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/Daily_Hospitalized.html %}
    </div>   
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/Total_ICU.html %}
    </div>   
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/Daily_ICU.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/travel_history.html %}
        </div>                       
  </div>
  <hr>
  {% include footer.html %}
</div>


