<nav role='navigation'>
  <div class='container'>

    <div class='navbar-header'>
      <button type='button' data-toggle='collapse' data-target='#menu'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='{{ site.baseurl }}/'>UBC DAIS Lab</a>
    </div>

    <div id='menu'>
      <ul>
        <li><a href='{{ site.baseurl }}/'>COVID-19 Data Visualization</a></li>
        <li><a href='{{ site.baseurl }}/models.html'>COVID-19 Models</a></li>
        <li><a href='{{ site.baseurl }}/policies.html'>COVID-19 Mitigation Policies</a></li>
      </ul>
    </div>

  </div>
</nav>