<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="0b56c9bf8a4240a9974157c4d2ef7cfb" class="chart-container" style="width:800px; height:600px;"></div>
    <script>
        var chart_0b56c9bf8a4240a9974157c4d2ef7cfb = echarts.init(
            document.getElementById('0b56c9bf8a4240a9974157c4d2ef7cfb'), 'white', {renderer: 'canvas'});
        var option_0b56c9bf8a4240a9974157c4d2ef7cfb = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "infections",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    67
                ],
                [
                    "2020-03-09",
                    86
                ],
                [
                    "2020-03-10",
                    95
                ],
                [
                    "2020-03-11",
                    116
                ],
                [
                    "2020-03-12",
                    156
                ],
                [
                    "2020-03-13",
                    198
                ],
                [
                    "2020-03-14",
                    257
                ],
                [
                    "2020-03-15",
                    341
                ],
                [
                    "2020-03-16",
                    441
                ],
                [
                    "2020-03-17",
                    597
                ],
                [
                    "2020-03-18",
                    727
                ],
                [
                    "2020-03-19",
                    873
                ],
                [
                    "2020-03-20",
                    1087
                ],
                [
                    "2020-03-21",
                    1331
                ],
                [
                    "2020-03-22",
                    1471
                ],
                [
                    "2020-03-23",
                    2091
                ],
                [
                    "2020-03-24",
                    2819
                ],
                [
                    "2020-03-25",
                    3409
                ],
                [
                    "2020-03-26",
                    4043
                ],
                [
                    "2020-03-27",
                    4757
                ],
                [
                    "2020-03-28",
                    5655
                ],
                [
                    "2020-03-29",
                    6320
                ],
                [
                    "2020-03-30",
                    7448
                ],
                [
                    "2020-03-31",
                    8591
                ],
                [
                    "2020-04-01",
                    10190
                ],
                [
                    "2020-04-02",
                    11778
                ],
                [
                    "2020-04-03",
                    12980
                ],
                [
                    "2020-04-04",
                    14409
                ],
                [
                    "2020-04-05",
                    15915
                ],
                [
                    "2020-04-06",
                    17165
                ],
                [
                    "2020-04-07",
                    18562
                ],
                [
                    "2020-04-08",
                    19853
                ],
                [
                    "2020-04-09",
                    21403
                ],
                [
                    "2020-04-10",
                    22715
                ],
                [
                    "2020-04-11",
                    23962
                ],
                [
                    "2020-04-12",
                    25060
                ],
                [
                    "2020-04-13",
                    26428
                ],
                [
                    "2020-04-14",
                    27888
                ],
                [
                    "2020-04-15",
                    29234
                ],
                [
                    "2020-04-16",
                    30966
                ],
                [
                    "2020-04-17",
                    32849
                ],
                [
                    "2020-04-18",
                    34379
                ],
                [
                    "2020-04-19",
                    36013
                ],
                [
                    "2020-04-20",
                    37856
                ],
                [
                    "2020-04-21",
                    39387
                ],
                [
                    "2020-04-22",
                    41357
                ],
                [
                    "2020-04-23",
                    43220
                ],
                [
                    "2020-04-24",
                    44844
                ],
                [
                    "2020-04-25",
                    46263
                ],
                [
                    "2020-04-26",
                    47850
                ],
                [
                    "2020-04-27",
                    49482
                ],
                [
                    "2020-04-28",
                    50948
                ],
                [
                    "2020-04-29",
                    52641
                ],
                [
                    "2020-04-30",
                    54215
                ],
                [
                    "2020-05-01",
                    56171
                ],
                [
                    "2020-05-02",
                    57749
                ],
                [
                    "2020-05-03",
                    60309
                ],
                [
                    "2020-05-04",
                    61792
                ],
                [
                    "2020-05-05",
                    63060
                ],
                [
                    "2020-05-06",
                    64547
                ],
                [
                    "2020-05-07",
                    66057
                ],
                [
                    "2020-05-08",
                    67525
                ],
                [
                    "2020-05-09",
                    68767
                ],
                [
                    "2020-05-10",
                    69934
                ],
                [
                    "2020-05-11",
                    71121
                ],
                [
                    "2020-05-12",
                    72279
                ],
                [
                    "2020-05-13",
                    73428
                ],
                [
                    "2020-05-14",
                    74652
                ],
                [
                    "2020-05-15",
                    75830
                ],
                [
                    "2020-05-16",
                    77063
                ],
                [
                    "2020-05-17",
                    78189
                ],
                [
                    "2020-05-18",
                    79265
                ],
                [
                    "2020-05-19",
                    80380
                ],
                [
                    "2020-05-20",
                    81459
                ],
                [
                    "2020-05-21",
                    82632
                ],
                [
                    "2020-05-22",
                    83842
                ],
                [
                    "2020-05-23",
                    85042
                ],
                [
                    "2020-05-24",
                    85998
                ],
                [
                    "2020-05-25",
                    87025
                ],
                [
                    "2020-05-26",
                    88001
                ],
                [
                    "2020-05-27",
                    88895
                ],
                [
                    "2020-05-28",
                    89890
                ],
                [
                    "2020-05-29",
                    90822
                ],
                [
                    "2020-05-30",
                    91599
                ],
                [
                    "2020-05-31",
                    92404
                ],
                [
                    "2020-06-01",
                    93223
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "mortality",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    1.0
                ],
                [
                    "2020-03-09",
                    1.0
                ],
                [
                    "2020-03-10",
                    1.0
                ],
                [
                    "2020-03-11",
                    2.0
                ],
                [
                    "2020-03-12",
                    2.0
                ],
                [
                    "2020-03-13",
                    2.0
                ],
                [
                    "2020-03-14",
                    2.0
                ],
                [
                    "2020-03-15",
                    2.0
                ],
                [
                    "2020-03-16",
                    5.0
                ],
                [
                    "2020-03-17",
                    8.0
                ],
                [
                    "2020-03-18",
                    9.0
                ],
                [
                    "2020-03-19",
                    12.0
                ],
                [
                    "2020-03-20",
                    13.0
                ],
                [
                    "2020-03-21",
                    18.0
                ],
                [
                    "2020-03-22",
                    21.0
                ],
                [
                    "2020-03-23",
                    24.0
                ],
                [
                    "2020-03-24",
                    27.0
                ],
                [
                    "2020-03-25",
                    35.0
                ],
                [
                    "2020-03-26",
                    39.0
                ],
                [
                    "2020-03-27",
                    55.0
                ],
                [
                    "2020-03-28",
                    61.0
                ],
                [
                    "2020-03-29",
                    66.0
                ],
                [
                    "2020-03-30",
                    90.0
                ],
                [
                    "2020-03-31",
                    126.0
                ],
                [
                    "2020-04-01",
                    145.0
                ],
                [
                    "2020-04-02",
                    170.0
                ],
                [
                    "2020-04-03",
                    223.0
                ],
                [
                    "2020-04-04",
                    272.0
                ],
                [
                    "2020-04-05",
                    302.0
                ],
                [
                    "2020-04-06",
                    353.0
                ],
                [
                    "2020-04-07",
                    417.0
                ],
                [
                    "2020-04-08",
                    472.0
                ],
                [
                    "2020-04-09",
                    541.0
                ],
                [
                    "2020-04-10",
                    615.0
                ],
                [
                    "2020-04-11",
                    689.0
                ],
                [
                    "2020-04-12",
                    745.0
                ],
                [
                    "2020-04-13",
                    821.0
                ],
                [
                    "2020-04-14",
                    966.0
                ],
                [
                    "2020-04-15",
                    1070.0
                ],
                [
                    "2020-04-16",
                    1249.0
                ],
                [
                    "2020-04-17",
                    1365.0
                ],
                [
                    "2020-04-18",
                    1527.0
                ],
                [
                    "2020-04-19",
                    1636.0
                ],
                [
                    "2020-04-20",
                    1757.0
                ],
                [
                    "2020-04-21",
                    1909.0
                ],
                [
                    "2020-04-22",
                    2072.0
                ],
                [
                    "2020-04-23",
                    2232.0
                ],
                [
                    "2020-04-24",
                    2389.0
                ],
                [
                    "2020-04-25",
                    2552.0
                ],
                [
                    "2020-04-26",
                    2670.0
                ],
                [
                    "2020-04-27",
                    2817.0
                ],
                [
                    "2020-04-28",
                    2958.0
                ],
                [
                    "2020-04-29",
                    3133.0
                ],
                [
                    "2020-04-30",
                    3278.0
                ],
                [
                    "2020-05-01",
                    3507.0
                ],
                [
                    "2020-05-02",
                    3654.0
                ],
                [
                    "2020-05-03",
                    3768.0
                ],
                [
                    "2020-05-04",
                    3980.0
                ],
                [
                    "2020-05-05",
                    4167.0
                ],
                [
                    "2020-05-06",
                    4347.0
                ],
                [
                    "2020-05-07",
                    4522.0
                ],
                [
                    "2020-05-08",
                    4677.0
                ],
                [
                    "2020-05-09",
                    4802.0
                ],
                [
                    "2020-05-10",
                    4963.0
                ],
                [
                    "2020-05-11",
                    5099.0
                ],
                [
                    "2020-05-12",
                    5282.0
                ],
                [
                    "2020-05-13",
                    5409.0
                ],
                [
                    "2020-05-14",
                    5576.0
                ],
                [
                    "2020-05-15",
                    5662.0
                ],
                [
                    "2020-05-16",
                    5780.0
                ],
                [
                    "2020-05-17",
                    5883.0
                ],
                [
                    "2020-05-18",
                    5940.0
                ],
                [
                    "2020-05-19",
                    6010.0
                ],
                [
                    "2020-05-20",
                    6135.0
                ],
                [
                    "2020-05-21",
                    6249.0
                ],
                [
                    "2020-05-22",
                    6341.0
                ],
                [
                    "2020-05-23",
                    6446.0
                ],
                [
                    "2020-05-24",
                    6514.0
                ],
                [
                    "2020-05-25",
                    6635.0
                ],
                [
                    "2020-05-26",
                    6731.0
                ],
                [
                    "2020-05-27",
                    6856.0
                ],
                [
                    "2020-05-28",
                    6962.0
                ],
                [
                    "2020-05-29",
                    7045.0
                ],
                [
                    "2020-05-30",
                    7141.0
                ],
                [
                    "2020-05-31",
                    7356.0
                ],
                [
                    "2020-06-01",
                    7386.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "recovered",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    8.0
                ],
                [
                    "2020-03-09",
                    9.0
                ],
                [
                    "2020-03-10",
                    9.0
                ],
                [
                    "2020-03-11",
                    9.0
                ],
                [
                    "2020-03-12",
                    9.0
                ],
                [
                    "2020-03-13",
                    10.0
                ],
                [
                    "2020-03-14",
                    10.0
                ],
                [
                    "2020-03-15",
                    10.0
                ],
                [
                    "2020-03-16",
                    10.0
                ],
                [
                    "2020-03-17",
                    10.0
                ],
                [
                    "2020-03-18",
                    11.0
                ],
                [
                    "2020-03-19",
                    13.0
                ],
                [
                    "2020-03-20",
                    15.0
                ],
                [
                    "2020-03-21",
                    16.0
                ],
                [
                    "2020-03-22",
                    18.0
                ],
                [
                    "2020-03-23",
                    112.0
                ],
                [
                    "2020-03-24",
                    186.0
                ],
                [
                    "2020-03-25",
                    198.0
                ],
                [
                    "2020-03-26",
                    229.0
                ],
                [
                    "2020-03-27",
                    356.0
                ],
                [
                    "2020-03-28",
                    505.0
                ],
                [
                    "2020-03-29",
                    589.0
                ],
                [
                    "2020-03-30",
                    1122.0
                ],
                [
                    "2020-03-31",
                    1306.0
                ],
                [
                    "2020-04-01",
                    1676.0
                ],
                [
                    "2020-04-02",
                    1981.0
                ],
                [
                    "2020-04-03",
                    2335.0
                ],
                [
                    "2020-04-04",
                    2748.0
                ],
                [
                    "2020-04-05",
                    3113.0
                ],
                [
                    "2020-04-06",
                    3629.0
                ],
                [
                    "2020-04-07",
                    4063.0
                ],
                [
                    "2020-04-08",
                    4666.0
                ],
                [
                    "2020-04-09",
                    5324.0
                ],
                [
                    "2020-04-10",
                    6026.0
                ],
                [
                    "2020-04-11",
                    6663.0
                ],
                [
                    "2020-04-12",
                    7185.0
                ],
                [
                    "2020-04-13",
                    7771.0
                ],
                [
                    "2020-04-14",
                    8248.0
                ],
                [
                    "2020-04-15",
                    8992.0
                ],
                [
                    "2020-04-16",
                    9725.0
                ],
                [
                    "2020-04-17",
                    10556.0
                ],
                [
                    "2020-04-18",
                    11220.0
                ],
                [
                    "2020-04-19",
                    11856.0
                ],
                [
                    "2020-04-20",
                    12599.0
                ],
                [
                    "2020-04-21",
                    13201.0
                ],
                [
                    "2020-04-22",
                    13999.0
                ],
                [
                    "2020-04-23",
                    14774.0
                ],
                [
                    "2020-04-24",
                    15554.0
                ],
                [
                    "2020-04-25",
                    16438.0
                ],
                [
                    "2020-04-26",
                    17334.0
                ],
                [
                    "2020-04-27",
                    18281.0
                ],
                [
                    "2020-04-28",
                    19244.0
                ],
                [
                    "2020-04-29",
                    20340.0
                ],
                [
                    "2020-04-30",
                    21437.0
                ],
                [
                    "2020-05-01",
                    22764.0
                ],
                [
                    "2020-05-02",
                    23814.0
                ],
                [
                    "2020-05-03",
                    24921.0
                ],
                [
                    "2020-05-04",
                    26030.0
                ],
                [
                    "2020-05-05",
                    27006.0
                ],
                [
                    "2020-05-06",
                    28184.0
                ],
                [
                    "2020-05-07",
                    29260.0
                ],
                [
                    "2020-05-08",
                    30239.0
                ],
                [
                    "2020-05-09",
                    31262.0
                ],
                [
                    "2020-05-10",
                    32109.0
                ],
                [
                    "2020-05-11",
                    33007.0
                ],
                [
                    "2020-05-12",
                    34055.0
                ],
                [
                    "2020-05-13",
                    35177.0
                ],
                [
                    "2020-05-14",
                    36104.0
                ],
                [
                    "2020-05-15",
                    36908.0
                ],
                [
                    "2020-05-16",
                    37832.0
                ],
                [
                    "2020-05-17",
                    38563.0
                ],
                [
                    "2020-05-18",
                    39251.0
                ],
                [
                    "2020-05-19",
                    40063.0
                ],
                [
                    "2020-05-20",
                    40789.0
                ],
                [
                    "2020-05-21",
                    41728.0
                ],
                [
                    "2020-05-22",
                    42607.0
                ],
                [
                    "2020-05-23",
                    43318.0
                ],
                [
                    "2020-05-24",
                    43998.0
                ],
                [
                    "2020-05-25",
                    44651.0
                ],
                [
                    "2020-05-26",
                    45352.0
                ],
                [
                    "2020-05-27",
                    46177.0
                ],
                [
                    "2020-05-28",
                    46853.0
                ],
                [
                    "2020-05-29",
                    47533.0
                ],
                [
                    "2020-05-30",
                    48116.0
                ],
                [
                    "2020-05-31",
                    48892.0
                ],
                [
                    "2020-06-01",
                    49739.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "testing",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    0.0
                ],
                [
                    "2020-03-09",
                    0.0
                ],
                [
                    "2020-03-10",
                    0.0
                ],
                [
                    "2020-03-11",
                    0.0
                ],
                [
                    "2020-03-12",
                    0.0
                ],
                [
                    "2020-03-13",
                    0.0
                ],
                [
                    "2020-03-14",
                    0.0
                ],
                [
                    "2020-03-15",
                    25983.0
                ],
                [
                    "2020-03-16",
                    34801.0
                ],
                [
                    "2020-03-17",
                    40556.0
                ],
                [
                    "2020-03-18",
                    47667.0
                ],
                [
                    "2020-03-19",
                    55582.0
                ],
                [
                    "2020-03-20",
                    76037.0
                ],
                [
                    "2020-03-21",
                    90073.0
                ],
                [
                    "2020-03-22",
                    103940.0
                ],
                [
                    "2020-03-23",
                    112151.0
                ],
                [
                    "2020-03-24",
                    121615.0
                ],
                [
                    "2020-03-25",
                    148821.0
                ],
                [
                    "2020-03-26",
                    163768.0
                ],
                [
                    "2020-03-27",
                    173123.0
                ],
                [
                    "2020-03-28",
                    195295.0
                ],
                [
                    "2020-03-29",
                    213028.0
                ],
                [
                    "2020-03-30",
                    227309.0
                ],
                [
                    "2020-03-31",
                    244389.0
                ],
                [
                    "2020-04-01",
                    261898.0
                ],
                [
                    "2020-04-02",
                    280625.0
                ],
                [
                    "2020-04-03",
                    302898.0
                ],
                [
                    "2020-04-04",
                    320148.0
                ],
                [
                    "2020-04-05",
                    332861.0
                ],
                [
                    "2020-04-06",
                    345823.0
                ],
                [
                    "2020-04-07",
                    357338.0
                ],
                [
                    "2020-04-08",
                    371130.0
                ],
                [
                    "2020-04-09",
                    385018.0
                ],
                [
                    "2020-04-10",
                    399329.0
                ],
                [
                    "2020-04-11",
                    413052.0
                ],
                [
                    "2020-04-12",
                    428276.0
                ],
                [
                    "2020-04-13",
                    445643.0
                ],
                [
                    "2020-04-14",
                    464240.0
                ],
                [
                    "2020-04-15",
                    480292.0
                ],
                [
                    "2020-04-16",
                    498778.0
                ],
                [
                    "2020-04-17",
                    524803.0
                ],
                [
                    "2020-04-18",
                    546175.0
                ],
                [
                    "2020-04-19",
                    567877.0
                ],
                [
                    "2020-04-20",
                    590069.0
                ],
                [
                    "2020-04-21",
                    610065.0
                ],
                [
                    "2020-04-22",
                    633449.0
                ],
                [
                    "2020-04-23",
                    656818.0
                ],
                [
                    "2020-04-24",
                    684430.0
                ],
                [
                    "2020-04-25",
                    707045.0
                ],
                [
                    "2020-04-26",
                    729779.0
                ],
                [
                    "2020-04-27",
                    760526.0
                ],
                [
                    "2020-04-28",
                    783047.0
                ],
                [
                    "2020-04-29",
                    809044.0
                ],
                [
                    "2020-04-30",
                    837052.0
                ],
                [
                    "2020-05-01",
                    869182.0
                ],
                [
                    "2020-05-02",
                    897056.0
                ],
                [
                    "2020-05-03",
                    926249.0
                ],
                [
                    "2020-05-04",
                    958923.0
                ],
                [
                    "2020-05-05",
                    979415.0
                ],
                [
                    "2020-05-06",
                    1011823.0
                ],
                [
                    "2020-05-07",
                    1045104.0
                ],
                [
                    "2020-05-08",
                    1076113.0
                ],
                [
                    "2020-05-09",
                    1111638.0
                ],
                [
                    "2020-05-10",
                    1137205.0
                ],
                [
                    "2020-05-11",
                    1168235.0
                ],
                [
                    "2020-05-12",
                    1192955.0
                ],
                [
                    "2020-05-13",
                    1221776.0
                ],
                [
                    "2020-05-14",
                    1254196.0
                ],
                [
                    "2020-05-15",
                    1288942.0
                ],
                [
                    "2020-05-16",
                    1322393.0
                ],
                [
                    "2020-05-17",
                    1352698.0
                ],
                [
                    "2020-05-18",
                    1374188.0
                ],
                [
                    "2020-05-19",
                    1396238.0
                ],
                [
                    "2020-05-20",
                    1414184.0
                ],
                [
                    "2020-05-21",
                    1439661.0
                ],
                [
                    "2020-05-22",
                    1466514.0
                ],
                [
                    "2020-05-23",
                    1492407.0
                ],
                [
                    "2020-05-24",
                    1518917.0
                ],
                [
                    "2020-05-25",
                    1546474.0
                ],
                [
                    "2020-05-26",
                    1568604.0
                ],
                [
                    "2020-05-27",
                    1597514.0
                ],
                [
                    "2020-05-28",
                    1631224.0
                ],
                [
                    "2020-05-29",
                    1666480.0
                ],
                [
                    "2020-05-30",
                    1703613.0
                ],
                [
                    "2020-05-31",
                    1739990.0
                ],
                [
                    "2020-06-01",
                    1770701.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "infections",
                "mortality",
                "recovered",
                "testing"
            ],
            "selected": {
                "infections": true,
                "mortality": true,
                "recovered": true,
                "testing": true
            },
            "show": true,
            "left": "15%",
            "right": "10%",
            "top": "10%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-03-08",
                "2020-03-09",
                "2020-03-10",
                "2020-03-11",
                "2020-03-12",
                "2020-03-13",
                "2020-03-14",
                "2020-03-15",
                "2020-03-16",
                "2020-03-17",
                "2020-03-18",
                "2020-03-19",
                "2020-03-20",
                "2020-03-21",
                "2020-03-22",
                "2020-03-23",
                "2020-03-24",
                "2020-03-25",
                "2020-03-26",
                "2020-03-27",
                "2020-03-28",
                "2020-03-29",
                "2020-03-30",
                "2020-03-31",
                "2020-04-01",
                "2020-04-02",
                "2020-04-03",
                "2020-04-04",
                "2020-04-05",
                "2020-04-06",
                "2020-04-07",
                "2020-04-08",
                "2020-04-09",
                "2020-04-10",
                "2020-04-11",
                "2020-04-12",
                "2020-04-13",
                "2020-04-14",
                "2020-04-15",
                "2020-04-16",
                "2020-04-17",
                "2020-04-18",
                "2020-04-19",
                "2020-04-20",
                "2020-04-21",
                "2020-04-22",
                "2020-04-23",
                "2020-04-24",
                "2020-04-25",
                "2020-04-26",
                "2020-04-27",
                "2020-04-28",
                "2020-04-29",
                "2020-04-30",
                "2020-05-01",
                "2020-05-02",
                "2020-05-03",
                "2020-05-04",
                "2020-05-05",
                "2020-05-06",
                "2020-05-07",
                "2020-05-08",
                "2020-05-09",
                "2020-05-10",
                "2020-05-11",
                "2020-05-12",
                "2020-05-13",
                "2020-05-14",
                "2020-05-15",
                "2020-05-16",
                "2020-05-17",
                "2020-05-18",
                "2020-05-19",
                "2020-05-20",
                "2020-05-21",
                "2020-05-22",
                "2020-05-23",
                "2020-05-24",
                "2020-05-25",
                "2020-05-26",
                "2020-05-27",
                "2020-05-28",
                "2020-05-29",
                "2020-05-30",
                "2020-05-31",
                "2020-06-01"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Infections/Mortality/Recovered/Testing",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "75%",
        "top": "2%",
        "feature": {
            "saveAsImage": {
                "is_show": true,
                "title": "save as image"
            },
            "restore": {
                "is_show": true,
                "title": "restore"
            },
            "dataView": {
                "title": "data view",
                "lang": [
                    "data view",
                    "close",
                    "refresh"
                ]
            },
            "dataZoom": {
                "is_show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            },
            "magicType": {
                "is_show": true,
                "type": [
                    "line",
                    "bar",
                    "tiled"
                ],
                "title": {
                    "line": "line graph",
                    "bar": "bar graph",
                    "tiled": "tiled gragh"
                }
            },
            "brush": false
        }
    },
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": false,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "xAxisIndex": 0,
            "zoomLock": false
        }
    ]
};
        chart_0b56c9bf8a4240a9974157c4d2ef7cfb.setOption(option_0b56c9bf8a4240a9974157c4d2ef7cfb);
    </script>
</body>
</html>
