<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e817e379f364469f9b765b88ddb9c2bf" class="chart-container" style="width:800px; height:600px;"></div>
    <script>
        var chart_e817e379f364469f9b765b88ddb9c2bf = echarts.init(
            document.getElementById('e817e379f364469f9b765b88ddb9c2bf'), 'white', {renderer: 'canvas'});
        var option_e817e379f364469f9b765b88ddb9c2bf = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "infections",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    67
                ],
                [
                    "2020-03-09",
                    86
                ],
                [
                    "2020-03-10",
                    95
                ],
                [
                    "2020-03-11",
                    116
                ],
                [
                    "2020-03-12",
                    156
                ],
                [
                    "2020-03-13",
                    198
                ],
                [
                    "2020-03-14",
                    257
                ],
                [
                    "2020-03-15",
                    341
                ],
                [
                    "2020-03-16",
                    441
                ],
                [
                    "2020-03-17",
                    597
                ],
                [
                    "2020-03-18",
                    727
                ],
                [
                    "2020-03-19",
                    873
                ],
                [
                    "2020-03-20",
                    1087
                ],
                [
                    "2020-03-21",
                    1331
                ],
                [
                    "2020-03-22",
                    1471
                ],
                [
                    "2020-03-23",
                    2091
                ],
                [
                    "2020-03-24",
                    2819
                ],
                [
                    "2020-03-25",
                    3409
                ],
                [
                    "2020-03-26",
                    4043
                ],
                [
                    "2020-03-27",
                    4757
                ],
                [
                    "2020-03-28",
                    5655
                ],
                [
                    "2020-03-29",
                    6320
                ],
                [
                    "2020-03-30",
                    7448
                ],
                [
                    "2020-03-31",
                    8591
                ],
                [
                    "2020-04-01",
                    10190
                ],
                [
                    "2020-04-02",
                    11778
                ],
                [
                    "2020-04-03",
                    12980
                ],
                [
                    "2020-04-04",
                    14409
                ],
                [
                    "2020-04-05",
                    15915
                ],
                [
                    "2020-04-06",
                    17165
                ],
                [
                    "2020-04-07",
                    18562
                ],
                [
                    "2020-04-08",
                    19853
                ],
                [
                    "2020-04-09",
                    21403
                ],
                [
                    "2020-04-10",
                    22715
                ],
                [
                    "2020-04-11",
                    23962
                ],
                [
                    "2020-04-12",
                    25060
                ],
                [
                    "2020-04-13",
                    26428
                ],
                [
                    "2020-04-14",
                    27888
                ],
                [
                    "2020-04-15",
                    29234
                ],
                [
                    "2020-04-16",
                    30966
                ],
                [
                    "2020-04-17",
                    32849
                ],
                [
                    "2020-04-18",
                    34379
                ],
                [
                    "2020-04-19",
                    36013
                ],
                [
                    "2020-04-20",
                    37856
                ],
                [
                    "2020-04-21",
                    39387
                ],
                [
                    "2020-04-22",
                    41357
                ],
                [
                    "2020-04-23",
                    43220
                ],
                [
                    "2020-04-24",
                    44844
                ],
                [
                    "2020-04-25",
                    46263
                ],
                [
                    "2020-04-26",
                    47850
                ],
                [
                    "2020-04-27",
                    49482
                ],
                [
                    "2020-04-28",
                    50948
                ],
                [
                    "2020-04-29",
                    52641
                ],
                [
                    "2020-04-30",
                    54215
                ],
                [
                    "2020-05-01",
                    56171
                ],
                [
                    "2020-05-02",
                    57749
                ],
                [
                    "2020-05-03",
                    60310
                ],
                [
                    "2020-05-04",
                    61794
                ],
                [
                    "2020-05-05",
                    63062
                ],
                [
                    "2020-05-06",
                    64549
                ],
                [
                    "2020-05-07",
                    66061
                ],
                [
                    "2020-05-08",
                    67530
                ],
                [
                    "2020-05-09",
                    68772
                ],
                [
                    "2020-05-10",
                    69940
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "mortality",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    1.0
                ],
                [
                    "2020-03-09",
                    1.0
                ],
                [
                    "2020-03-10",
                    1.0
                ],
                [
                    "2020-03-11",
                    2.0
                ],
                [
                    "2020-03-12",
                    2.0
                ],
                [
                    "2020-03-13",
                    2.0
                ],
                [
                    "2020-03-14",
                    2.0
                ],
                [
                    "2020-03-15",
                    2.0
                ],
                [
                    "2020-03-16",
                    5.0
                ],
                [
                    "2020-03-17",
                    8.0
                ],
                [
                    "2020-03-18",
                    9.0
                ],
                [
                    "2020-03-19",
                    12.0
                ],
                [
                    "2020-03-20",
                    13.0
                ],
                [
                    "2020-03-21",
                    18.0
                ],
                [
                    "2020-03-22",
                    21.0
                ],
                [
                    "2020-03-23",
                    24.0
                ],
                [
                    "2020-03-24",
                    27.0
                ],
                [
                    "2020-03-25",
                    35.0
                ],
                [
                    "2020-03-26",
                    39.0
                ],
                [
                    "2020-03-27",
                    55.0
                ],
                [
                    "2020-03-28",
                    61.0
                ],
                [
                    "2020-03-29",
                    66.0
                ],
                [
                    "2020-03-30",
                    90.0
                ],
                [
                    "2020-03-31",
                    126.0
                ],
                [
                    "2020-04-01",
                    145.0
                ],
                [
                    "2020-04-02",
                    170.0
                ],
                [
                    "2020-04-03",
                    223.0
                ],
                [
                    "2020-04-04",
                    272.0
                ],
                [
                    "2020-04-05",
                    302.0
                ],
                [
                    "2020-04-06",
                    353.0
                ],
                [
                    "2020-04-07",
                    417.0
                ],
                [
                    "2020-04-08",
                    472.0
                ],
                [
                    "2020-04-09",
                    541.0
                ],
                [
                    "2020-04-10",
                    615.0
                ],
                [
                    "2020-04-11",
                    689.0
                ],
                [
                    "2020-04-12",
                    745.0
                ],
                [
                    "2020-04-13",
                    821.0
                ],
                [
                    "2020-04-14",
                    966.0
                ],
                [
                    "2020-04-15",
                    1070.0
                ],
                [
                    "2020-04-16",
                    1249.0
                ],
                [
                    "2020-04-17",
                    1365.0
                ],
                [
                    "2020-04-18",
                    1527.0
                ],
                [
                    "2020-04-19",
                    1636.0
                ],
                [
                    "2020-04-20",
                    1757.0
                ],
                [
                    "2020-04-21",
                    1909.0
                ],
                [
                    "2020-04-22",
                    2072.0
                ],
                [
                    "2020-04-23",
                    2232.0
                ],
                [
                    "2020-04-24",
                    2389.0
                ],
                [
                    "2020-04-25",
                    2552.0
                ],
                [
                    "2020-04-26",
                    2670.0
                ],
                [
                    "2020-04-27",
                    2817.0
                ],
                [
                    "2020-04-28",
                    2958.0
                ],
                [
                    "2020-04-29",
                    3133.0
                ],
                [
                    "2020-04-30",
                    3278.0
                ],
                [
                    "2020-05-01",
                    3507.0
                ],
                [
                    "2020-05-02",
                    3654.0
                ],
                [
                    "2020-05-03",
                    3768.0
                ],
                [
                    "2020-05-04",
                    3980.0
                ],
                [
                    "2020-05-05",
                    4167.0
                ],
                [
                    "2020-05-06",
                    4347.0
                ],
                [
                    "2020-05-07",
                    4522.0
                ],
                [
                    "2020-05-08",
                    4677.0
                ],
                [
                    "2020-05-09",
                    4802.0
                ],
                [
                    "2020-05-10",
                    4963.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "recovered",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    8.0
                ],
                [
                    "2020-03-09",
                    9.0
                ],
                [
                    "2020-03-10",
                    9.0
                ],
                [
                    "2020-03-11",
                    9.0
                ],
                [
                    "2020-03-12",
                    9.0
                ],
                [
                    "2020-03-13",
                    10.0
                ],
                [
                    "2020-03-14",
                    10.0
                ],
                [
                    "2020-03-15",
                    10.0
                ],
                [
                    "2020-03-16",
                    10.0
                ],
                [
                    "2020-03-17",
                    10.0
                ],
                [
                    "2020-03-18",
                    11.0
                ],
                [
                    "2020-03-19",
                    13.0
                ],
                [
                    "2020-03-20",
                    15.0
                ],
                [
                    "2020-03-21",
                    16.0
                ],
                [
                    "2020-03-22",
                    18.0
                ],
                [
                    "2020-03-23",
                    112.0
                ],
                [
                    "2020-03-24",
                    186.0
                ],
                [
                    "2020-03-25",
                    198.0
                ],
                [
                    "2020-03-26",
                    229.0
                ],
                [
                    "2020-03-27",
                    356.0
                ],
                [
                    "2020-03-28",
                    505.0
                ],
                [
                    "2020-03-29",
                    589.0
                ],
                [
                    "2020-03-30",
                    1122.0
                ],
                [
                    "2020-03-31",
                    1306.0
                ],
                [
                    "2020-04-01",
                    1676.0
                ],
                [
                    "2020-04-02",
                    1981.0
                ],
                [
                    "2020-04-03",
                    2335.0
                ],
                [
                    "2020-04-04",
                    2748.0
                ],
                [
                    "2020-04-05",
                    3113.0
                ],
                [
                    "2020-04-06",
                    3629.0
                ],
                [
                    "2020-04-07",
                    4063.0
                ],
                [
                    "2020-04-08",
                    4666.0
                ],
                [
                    "2020-04-09",
                    5324.0
                ],
                [
                    "2020-04-10",
                    6026.0
                ],
                [
                    "2020-04-11",
                    6663.0
                ],
                [
                    "2020-04-12",
                    7185.0
                ],
                [
                    "2020-04-13",
                    7771.0
                ],
                [
                    "2020-04-14",
                    8248.0
                ],
                [
                    "2020-04-15",
                    8992.0
                ],
                [
                    "2020-04-16",
                    9725.0
                ],
                [
                    "2020-04-17",
                    10556.0
                ],
                [
                    "2020-04-18",
                    11220.0
                ],
                [
                    "2020-04-19",
                    11856.0
                ],
                [
                    "2020-04-20",
                    12599.0
                ],
                [
                    "2020-04-21",
                    13201.0
                ],
                [
                    "2020-04-22",
                    13999.0
                ],
                [
                    "2020-04-23",
                    14774.0
                ],
                [
                    "2020-04-24",
                    15554.0
                ],
                [
                    "2020-04-25",
                    16438.0
                ],
                [
                    "2020-04-26",
                    17334.0
                ],
                [
                    "2020-04-27",
                    18281.0
                ],
                [
                    "2020-04-28",
                    19244.0
                ],
                [
                    "2020-04-29",
                    20340.0
                ],
                [
                    "2020-04-30",
                    21437.0
                ],
                [
                    "2020-05-01",
                    22764.0
                ],
                [
                    "2020-05-02",
                    23814.0
                ],
                [
                    "2020-05-03",
                    24921.0
                ],
                [
                    "2020-05-04",
                    26030.0
                ],
                [
                    "2020-05-05",
                    27006.0
                ],
                [
                    "2020-05-06",
                    28184.0
                ],
                [
                    "2020-05-07",
                    29260.0
                ],
                [
                    "2020-05-08",
                    30239.0
                ],
                [
                    "2020-05-09",
                    31262.0
                ],
                [
                    "2020-05-10",
                    32109.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "testing",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    0.0
                ],
                [
                    "2020-03-09",
                    0.0
                ],
                [
                    "2020-03-10",
                    0.0
                ],
                [
                    "2020-03-11",
                    0.0
                ],
                [
                    "2020-03-12",
                    0.0
                ],
                [
                    "2020-03-13",
                    0.0
                ],
                [
                    "2020-03-14",
                    0.0
                ],
                [
                    "2020-03-15",
                    23752.0
                ],
                [
                    "2020-03-16",
                    37878.0
                ],
                [
                    "2020-03-17",
                    43611.0
                ],
                [
                    "2020-03-18",
                    51436.0
                ],
                [
                    "2020-03-19",
                    59670.0
                ],
                [
                    "2020-03-20",
                    78525.0
                ],
                [
                    "2020-03-21",
                    91741.0
                ],
                [
                    "2020-03-22",
                    106162.0
                ],
                [
                    "2020-03-23",
                    114205.0
                ],
                [
                    "2020-03-24",
                    124345.0
                ],
                [
                    "2020-03-25",
                    152135.0
                ],
                [
                    "2020-03-26",
                    166788.0
                ],
                [
                    "2020-03-27",
                    180746.0
                ],
                [
                    "2020-03-28",
                    202458.0
                ],
                [
                    "2020-03-29",
                    219772.0
                ],
                [
                    "2020-03-30",
                    233949.0
                ],
                [
                    "2020-03-31",
                    250628.0
                ],
                [
                    "2020-04-01",
                    268290.0
                ],
                [
                    "2020-04-02",
                    286155.0
                ],
                [
                    "2020-04-03",
                    307904.0
                ],
                [
                    "2020-04-04",
                    324793.0
                ],
                [
                    "2020-04-05",
                    336472.0
                ],
                [
                    "2020-04-06",
                    349677.0
                ],
                [
                    "2020-04-07",
                    360896.0
                ],
                [
                    "2020-04-08",
                    374741.0
                ],
                [
                    "2020-04-09",
                    389125.0
                ],
                [
                    "2020-04-10",
                    402908.0
                ],
                [
                    "2020-04-11",
                    416487.0
                ],
                [
                    "2020-04-12",
                    431495.0
                ],
                [
                    "2020-04-13",
                    449206.0
                ],
                [
                    "2020-04-14",
                    467637.0
                ],
                [
                    "2020-04-15",
                    483924.0
                ],
                [
                    "2020-04-16",
                    502808.0
                ],
                [
                    "2020-04-17",
                    528714.0
                ],
                [
                    "2020-04-18",
                    550360.0
                ],
                [
                    "2020-04-19",
                    572043.0
                ],
                [
                    "2020-04-20",
                    594742.0
                ],
                [
                    "2020-04-21",
                    614340.0
                ],
                [
                    "2020-04-22",
                    639747.0
                ],
                [
                    "2020-04-23",
                    663418.0
                ],
                [
                    "2020-04-24",
                    688716.0
                ],
                [
                    "2020-04-25",
                    711254.0
                ],
                [
                    "2020-04-26",
                    734824.0
                ],
                [
                    "2020-04-27",
                    765056.0
                ],
                [
                    "2020-04-28",
                    787612.0
                ],
                [
                    "2020-04-29",
                    814518.0
                ],
                [
                    "2020-04-30",
                    840010.0
                ],
                [
                    "2020-05-01",
                    872240.0
                ],
                [
                    "2020-05-02",
                    903994.0
                ],
                [
                    "2020-05-03",
                    933142.0
                ],
                [
                    "2020-05-04",
                    966019.0
                ],
                [
                    "2020-05-05",
                    986576.0
                ],
                [
                    "2020-05-06",
                    1019755.0
                ],
                [
                    "2020-05-07",
                    1053816.0
                ],
                [
                    "2020-05-08",
                    1084767.0
                ],
                [
                    "2020-05-09",
                    1120653.0
                ],
                [
                    "2020-05-10",
                    1146620.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "infections",
                "mortality",
                "recovered",
                "testing"
            ],
            "selected": {
                "infections": true,
                "mortality": true,
                "recovered": true,
                "testing": true
            },
            "show": true,
            "left": "15%",
            "right": "10%",
            "top": "10%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-03-08",
                "2020-03-09",
                "2020-03-10",
                "2020-03-11",
                "2020-03-12",
                "2020-03-13",
                "2020-03-14",
                "2020-03-15",
                "2020-03-16",
                "2020-03-17",
                "2020-03-18",
                "2020-03-19",
                "2020-03-20",
                "2020-03-21",
                "2020-03-22",
                "2020-03-23",
                "2020-03-24",
                "2020-03-25",
                "2020-03-26",
                "2020-03-27",
                "2020-03-28",
                "2020-03-29",
                "2020-03-30",
                "2020-03-31",
                "2020-04-01",
                "2020-04-02",
                "2020-04-03",
                "2020-04-04",
                "2020-04-05",
                "2020-04-06",
                "2020-04-07",
                "2020-04-08",
                "2020-04-09",
                "2020-04-10",
                "2020-04-11",
                "2020-04-12",
                "2020-04-13",
                "2020-04-14",
                "2020-04-15",
                "2020-04-16",
                "2020-04-17",
                "2020-04-18",
                "2020-04-19",
                "2020-04-20",
                "2020-04-21",
                "2020-04-22",
                "2020-04-23",
                "2020-04-24",
                "2020-04-25",
                "2020-04-26",
                "2020-04-27",
                "2020-04-28",
                "2020-04-29",
                "2020-04-30",
                "2020-05-01",
                "2020-05-02",
                "2020-05-03",
                "2020-05-04",
                "2020-05-05",
                "2020-05-06",
                "2020-05-07",
                "2020-05-08",
                "2020-05-09",
                "2020-05-10"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Infections/Mortality/Recovered/Testing",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "75%",
        "top": "2%",
        "feature": {
            "saveAsImage": {
                "is_show": true,
                "title": "save as image"
            },
            "restore": {
                "is_show": true,
                "title": "restore"
            },
            "dataView": {
                "title": "data view",
                "lang": [
                    "data view",
                    "close",
                    "refresh"
                ]
            },
            "dataZoom": {
                "is_show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            },
            "magicType": {
                "is_show": true,
                "type": [
                    "line",
                    "bar",
                    "tiled"
                ],
                "title": {
                    "line": "line graph",
                    "bar": "bar graph",
                    "tiled": "tiled gragh"
                }
            },
            "brush": false
        }
    },
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": false,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "xAxisIndex": 0,
            "zoomLock": false
        }
    ]
};
        chart_e817e379f364469f9b765b88ddb9c2bf.setOption(option_e817e379f364469f9b765b88ddb9c2bf);
    </script>
</body>
</html>
