<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="9abbfb458a954221b454a2a34d85843e" class="chart-container" style="width:450px; height:450px;"></div>
    <script>
        var chart_9abbfb458a954221b454a2a34d85843e = echarts.init(
            document.getElementById('9abbfb458a954221b454a2a34d85843e'), 'white', {renderer: 'canvas'});
        var option_9abbfb458a954221b454a2a34d85843e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "infections",
            "coordinateSystem": "polar",
            "symbolSize": 4,
            "data": [
                67,
                86,
                95,
                116,
                156,
                198,
                257,
                341,
                441,
                597,
                727,
                873,
                1087,
                1331,
                1471,
                2091,
                2819,
                3408,
                4042,
                4756,
                5654,
                6319,
                7446,
                8589,
                10188,
                11776,
                12978,
                14407,
                15913,
                17163,
                18560,
                19851,
                21401,
                22713,
                23960,
                25058,
                26426,
                27886,
                29232,
                30964,
                32847,
                34377,
                36011,
                37854,
                39385,
                41355,
                43218,
                44842,
                46261,
                47848,
                49480,
                50946,
                52639,
                54212,
                56168,
                57746,
                60306,
                61789,
                63057,
                64544,
                66054,
                67522,
                68764,
                69931,
                71118,
                72276,
                73425,
                74649,
                75827,
                77060,
                78186,
                79262,
                80377,
                81456,
                82629,
                83839,
                85039,
                85995,
                87022,
                87998,
                88892,
                89886,
                90818,
                91595,
                92400,
                93218,
                93888,
                94577,
                95202,
                95884,
                96403,
                97103,
                97718,
                98177,
                98658,
                99097,
                99541,
                99988,
                100343,
                100720,
                101052,
                101443,
                101823,
                102263,
                102629,
                102927,
                103285,
                103642,
                103960,
                104329,
                104505,
                104748,
                105040,
                105687,
                105966,
                106157,
                106514,
                106839,
                107060,
                107265,
                107694,
                107898,
                108211,
                108533,
                108857,
                109030,
                109231,
                109911,
                110214,
                110557,
                111004,
                111440,
                111803,
                112122,
                112931,
                113491,
                114005,
                114475,
                115022,
                115358,
                115674,
                116397,
                116806,
                117302,
                117644,
                118143,
                118413,
                118638,
                118849,
                119584,
                119968,
                120333,
                120759,
                121001,
                121213,
                121912,
                122258,
                122660,
                123052,
                123472,
                123682,
                123850,
                124588,
                124944,
                125269,
                125673,
                126182,
                126410,
                126653,
                127458,
                127767,
                128252,
                128704,
                129208,
                129489,
                129731,
                130782,
                131282,
                131787,
                132374,
                132984,
                133343,
                133710,
                134141,
                135614,
                136195,
                136819,
                137545,
                138010,
                138545,
                139963,
                140760,
                141714,
                142881,
                143923,
                144758,
                145559,
                147414,
                148702,
                149801,
                151126,
                152576,
                153822,
                155233,
                157476,
                159145,
                160962,
                162784,
                164909,
                166712
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "mortality",
            "coordinateSystem": "polar",
            "symbolSize": 4,
            "data": [
                1.0,
                1.0,
                1.0,
                2.0,
                2.0,
                2.0,
                2.0,
                2.0,
                5.0,
                8.0,
                9.0,
                12.0,
                13.0,
                18.0,
                21.0,
                24.0,
                27.0,
                35.0,
                39.0,
                55.0,
                61.0,
                66.0,
                90.0,
                126.0,
                145.0,
                170.0,
                223.0,
                272.0,
                302.0,
                353.0,
                417.0,
                472.0,
                541.0,
                615.0,
                689.0,
                745.0,
                821.0,
                966.0,
                1070.0,
                1249.0,
                1365.0,
                1527.0,
                1636.0,
                1757.0,
                1909.0,
                2072.0,
                2232.0,
                2389.0,
                2552.0,
                2670.0,
                2817.0,
                2958.0,
                3133.0,
                3278.0,
                3507.0,
                3654.0,
                3768.0,
                3980.0,
                4167.0,
                4347.0,
                4522.0,
                4677.0,
                4802.0,
                4963.0,
                5099.0,
                5282.0,
                5409.0,
                5575.0,
                5662.0,
                5780.0,
                5883.0,
                5940.0,
                6010.0,
                6135.0,
                6249.0,
                6341.0,
                6446.0,
                6514.0,
                6635.0,
                6731.0,
                6856.0,
                6962.0,
                7045.0,
                7141.0,
                7356.0,
                7385.0,
                7456.0,
                7558.0,
                7697.0,
                7758.0,
                7830.0,
                7857.0,
                7890.0,
                7949.0,
                8008.0,
                8049.0,
                8103.0,
                8162.0,
                8197.0,
                8227.0,
                8268.0,
                8303.0,
                8350.0,
                8395.0,
                8455.0,
                8469.0,
                8481.0,
                8499.0,
                8530.0,
                8552.0,
                8556.0,
                8565.0,
                8570.0,
                8617.0,
                8639.0,
                8667.0,
                8690.0,
                8712.0,
                8720.0,
                8729.0,
                8738.0,
                8755.0,
                8777.0,
                8787.0,
                8801.0,
                8809.0,
                8817.0,
                8827.0,
                8836.0,
                8848.0,
                8866.0,
                8874.0,
                8882.0,
                8886.0,
                8891.0,
                8896.0,
                8903.0,
                8907.0,
                8914.0,
                8919.0,
                8924.0,
                8935.0,
                8948.0,
                8954.0,
                8966.0,
                8971.0,
                8977.0,
                8981.0,
                8986.0,
                8996.0,
                9001.0,
                9004.0,
                9008.0,
                9015.0,
                9019.0,
                9025.0,
                9030.0,
                9044.0,
                9054.0,
                9059.0,
                9062.0,
                9064.0,
                9070.0,
                9080.0,
                9085.0,
                9090.0,
                9101.0,
                9107.0,
                9110.0,
                9119.0,
                9127.0,
                9129.0,
                9136.0,
                9145.0,
                9150.0,
                9153.0,
                9162.0,
                9168.0,
                9172.0,
                9178.0,
                9180.0,
                9182.0,
                9182.0,
                9184.0,
                9192.0,
                9195.0,
                9202.0,
                9205.0,
                9211.0,
                9213.0,
                9221.0,
                9230.0,
                9235.0,
                9239.0,
                9245.0,
                9251.0,
                9256.0,
                9268.0,
                9275.0,
                9284.0,
                9290.0,
                9295.0,
                9303.0,
                9308.0,
                9318.0,
                9331.0,
                9337.0,
                9359.0,
                9457.0,
                9509.0
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "recovered",
            "coordinateSystem": "polar",
            "symbolSize": 4,
            "data": [
                8.0,
                9.0,
                9.0,
                9.0,
                9.0,
                10.0,
                10.0,
                10.0,
                10.0,
                10.0,
                11.0,
                13.0,
                15.0,
                16.0,
                18.0,
                112.0,
                186.0,
                198.0,
                229.0,
                356.0,
                505.0,
                589.0,
                1122.0,
                1306.0,
                1676.0,
                1981.0,
                2335.0,
                2748.0,
                3113.0,
                3629.0,
                4063.0,
                4666.0,
                5324.0,
                6026.0,
                6663.0,
                7185.0,
                7771.0,
                8248.0,
                8992.0,
                9725.0,
                10556.0,
                11220.0,
                11856.0,
                12599.0,
                13201.0,
                13999.0,
                14774.0,
                15554.0,
                16438.0,
                17334.0,
                18281.0,
                19244.0,
                20340.0,
                21437.0,
                22764.0,
                23814.0,
                24921.0,
                26030.0,
                27006.0,
                28184.0,
                29260.0,
                30239.0,
                31262.0,
                32109.0,
                33007.0,
                34055.0,
                35177.0,
                36104.0,
                36908.0,
                37832.0,
                38563.0,
                39251.0,
                40063.0,
                40789.0,
                41728.0,
                42607.0,
                43318.0,
                43998.0,
                44651.0,
                45352.0,
                46177.0,
                46853.0,
                47533.0,
                48116.0,
                48892.0,
                49739.0,
                50357.0,
                51048.0,
                51738.0,
                52565.0,
                53609.0,
                54228.0,
                54828.0,
                55567.0,
                56639.0,
                57658.0,
                58523.0,
                59353.0,
                60272.0,
                61042.0,
                61443.0,
                62017.0,
                62496.0,
                63003.0,
                63488.0,
                63886.0,
                64334.0,
                64704.0,
                65091.0,
                65425.0,
                65726.0,
                65973.0,
                66191.0,
                67178.0,
                67592.0,
                67744.0,
                68347.0,
                68693.0,
                68990.0,
                69239.0,
                69570.0,
                69883.0,
                70247.0,
                70574.0,
                70901.0,
                71266.0,
                71467.0,
                71841.0,
                72170.0,
                72485.0,
                72836.0,
                96689.0,
                96909.0,
                97051.0,
                97474.0,
                97757.0,
                98142.0,
                98519.0,
                98873.0,
                99115.0,
                99355.0,
                99860.0,
                100134.0,
                100465.0,
                100862.0,
                101227.0,
                101436.0,
                101574.0,
                101597.0,
                102450.0,
                102788.0,
                103106.0,
                103435.0,
                103566.0,
                103728.0,
                106355.0,
                106746.0,
                107148.0,
                107552.0,
                107942.0,
                108217.0,
                108484.0,
                109059.0,
                109353.0,
                109818.0,
                110284.0,
                110644.0,
                110874.0,
                111108.0,
                111690.0,
                112050.0,
                112455.0,
                112825.0,
                113234.0,
                113501.0,
                113664.0,
                114158.0,
                114607.0,
                115050.0,
                115444.0,
                115926.0,
                116136.0,
                116357.0,
                116459.0,
                117565.0,
                118257.0,
                118990.0,
                119674.0,
                120075.0,
                120431.0,
                121224.0,
                121840.0,
                122449.0,
                123073.0,
                123723.0,
                124187.0,
                124691.0,
                125714.0,
                126904.0,
                127788.0,
                128707.0,
                129573.0,
                130328.0,
                131098.0,
                132607.0,
                133737.0,
                134971.0,
                136350.0,
                137614.0,
                138867.0
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "areaStyle": {
                "opacity": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "infections",
                "mortality",
                "recovered"
            ],
            "selected": {
                "infections": true,
                "mortality": true,
                "recovered": true
            },
            "show": true,
            "left": "1%",
            "top": "6%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "radiusAxis": {
        "scale": false
    },
    "angleAxis": {
        "data": [
            "2020-03-08",
            "2020-03-09",
            "2020-03-10",
            "2020-03-11",
            "2020-03-12",
            "2020-03-13",
            "2020-03-14",
            "2020-03-15",
            "2020-03-16",
            "2020-03-17",
            "2020-03-18",
            "2020-03-19",
            "2020-03-20",
            "2020-03-21",
            "2020-03-22",
            "2020-03-23",
            "2020-03-24",
            "2020-03-25",
            "2020-03-26",
            "2020-03-27",
            "2020-03-28",
            "2020-03-29",
            "2020-03-30",
            "2020-03-31",
            "2020-04-01",
            "2020-04-02",
            "2020-04-03",
            "2020-04-04",
            "2020-04-05",
            "2020-04-06",
            "2020-04-07",
            "2020-04-08",
            "2020-04-09",
            "2020-04-10",
            "2020-04-11",
            "2020-04-12",
            "2020-04-13",
            "2020-04-14",
            "2020-04-15",
            "2020-04-16",
            "2020-04-17",
            "2020-04-18",
            "2020-04-19",
            "2020-04-20",
            "2020-04-21",
            "2020-04-22",
            "2020-04-23",
            "2020-04-24",
            "2020-04-25",
            "2020-04-26",
            "2020-04-27",
            "2020-04-28",
            "2020-04-29",
            "2020-04-30",
            "2020-05-01",
            "2020-05-02",
            "2020-05-03",
            "2020-05-04",
            "2020-05-05",
            "2020-05-06",
            "2020-05-07",
            "2020-05-08",
            "2020-05-09",
            "2020-05-10",
            "2020-05-11",
            "2020-05-12",
            "2020-05-13",
            "2020-05-14",
            "2020-05-15",
            "2020-05-16",
            "2020-05-17",
            "2020-05-18",
            "2020-05-19",
            "2020-05-20",
            "2020-05-21",
            "2020-05-22",
            "2020-05-23",
            "2020-05-24",
            "2020-05-25",
            "2020-05-26",
            "2020-05-27",
            "2020-05-28",
            "2020-05-29",
            "2020-05-30",
            "2020-05-31",
            "2020-06-01",
            "2020-06-02",
            "2020-06-03",
            "2020-06-04",
            "2020-06-05",
            "2020-06-06",
            "2020-06-07",
            "2020-06-08",
            "2020-06-09",
            "2020-06-10",
            "2020-06-11",
            "2020-06-12",
            "2020-06-13",
            "2020-06-14",
            "2020-06-15",
            "2020-06-16",
            "2020-06-17",
            "2020-06-18",
            "2020-06-19",
            "2020-06-20",
            "2020-06-21",
            "2020-06-22",
            "2020-06-23",
            "2020-06-24",
            "2020-06-25",
            "2020-06-26",
            "2020-06-27",
            "2020-06-28",
            "2020-06-29",
            "2020-06-30",
            "2020-07-01",
            "2020-07-02",
            "2020-07-03",
            "2020-07-04",
            "2020-07-05",
            "2020-07-06",
            "2020-07-07",
            "2020-07-08",
            "2020-07-09",
            "2020-07-10",
            "2020-07-11",
            "2020-07-12",
            "2020-07-13",
            "2020-07-14",
            "2020-07-15",
            "2020-07-16",
            "2020-07-17",
            "2020-07-18",
            "2020-07-19",
            "2020-07-20",
            "2020-07-21",
            "2020-07-22",
            "2020-07-23",
            "2020-07-24",
            "2020-07-25",
            "2020-07-26",
            "2020-07-27",
            "2020-07-28",
            "2020-07-29",
            "2020-07-30",
            "2020-07-31",
            "2020-08-01",
            "2020-08-02",
            "2020-08-03",
            "2020-08-04",
            "2020-08-05",
            "2020-08-06",
            "2020-08-07",
            "2020-08-08",
            "2020-08-09",
            "2020-08-10",
            "2020-08-11",
            "2020-08-12",
            "2020-08-13",
            "2020-08-14",
            "2020-08-15",
            "2020-08-16",
            "2020-08-17",
            "2020-08-18",
            "2020-08-19",
            "2020-08-20",
            "2020-08-21",
            "2020-08-22",
            "2020-08-23",
            "2020-08-24",
            "2020-08-25",
            "2020-08-26",
            "2020-08-27",
            "2020-08-28",
            "2020-08-29",
            "2020-08-30",
            "2020-08-31",
            "2020-09-01",
            "2020-09-02",
            "2020-09-03",
            "2020-09-04",
            "2020-09-05",
            "2020-09-06",
            "2020-09-07",
            "2020-09-08",
            "2020-09-09",
            "2020-09-10",
            "2020-09-11",
            "2020-09-12",
            "2020-09-13",
            "2020-09-14",
            "2020-09-15",
            "2020-09-16",
            "2020-09-17",
            "2020-09-18",
            "2020-09-19",
            "2020-09-20",
            "2020-09-21",
            "2020-09-22",
            "2020-09-23",
            "2020-09-24",
            "2020-09-25",
            "2020-09-26",
            "2020-09-27",
            "2020-09-28",
            "2020-09-29",
            "2020-09-30",
            "2020-10-01",
            "2020-10-02",
            "2020-10-03"
        ],
        "clockwise": false,
        "type": "category",
        "scale": false,
        "splitNumber": 5,
        "axisLabel": {
            "show": false,
            "position": "top",
            "margin": 8
        }
    },
    "polar": {},
    "title": [
        {
            "text": "Infections/Mortality/Recovered Polar Plot",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "95%",
        "top": "5%",
        "feature": {
            "saveAsImage": {
                "is_show": true,
                "title": "save as image"
            },
            "restore": {
                "is_show": true,
                "title": "restore"
            },
            "dataView": {
                "title": "data view",
                "lang": [
                    "data view",
                    "close",
                    "refresh"
                ]
            },
            "dataZoom": {
                "is_show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            },
            "magicType": {
                "is_show": true,
                "type": [
                    "line",
                    "bar",
                    "tiled"
                ],
                "title": {
                    "line": "line graph",
                    "bar": "bar graph",
                    "tiled": "tiled gragh"
                }
            },
            "brush": false
        }
    }
};
        chart_9abbfb458a954221b454a2a34d85843e.setOption(option_9abbfb458a954221b454a2a34d85843e);
    </script>
</body>
</html>
