<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="7c5fb08e5c734d45bc075de824436dfa" class="chart-container" style="width:800px; height:600px;"></div>
    <script>
        var chart_7c5fb08e5c734d45bc075de824436dfa = echarts.init(
            document.getElementById('7c5fb08e5c734d45bc075de824436dfa'), 'white', {renderer: 'canvas'});
        var option_7c5fb08e5c734d45bc075de824436dfa = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "infections",
            "data": [
                67,
                86,
                95,
                116,
                156,
                198,
                257,
                341,
                441,
                597,
                727,
                873,
                1087,
                1331,
                1471,
                2091,
                2819,
                3409,
                4043,
                4757,
                5655,
                6320,
                7448,
                8591,
                10190,
                11778,
                12980,
                14409,
                15915,
                17165,
                18562,
                19853,
                21403,
                22715,
                23962,
                25060,
                26428,
                27888,
                29234,
                30966,
                32849,
                34380,
                36015,
                37858,
                39389,
                41359,
                43223,
                44848,
                46274
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "mortality",
            "data": [
                1.0,
                1.0,
                1.0,
                2.0,
                2.0,
                2.0,
                2.0,
                2.0,
                5.0,
                8.0,
                9.0,
                12.0,
                13.0,
                18.0,
                21.0,
                24.0,
                27.0,
                35.0,
                39.0,
                55.0,
                61.0,
                66.0,
                90.0,
                126.0,
                145.0,
                170.0,
                223.0,
                272.0,
                302.0,
                353.0,
                417.0,
                472.0,
                541.0,
                615.0,
                689.0,
                745.0,
                821.0,
                966.0,
                1070.0,
                1249.0,
                1365.0,
                1527.0,
                1636.0,
                1757.0,
                1909.0,
                2072.0,
                2232.0,
                2390.0,
                2553.0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "recovered",
            "data": [
                8.0,
                9.0,
                9.0,
                9.0,
                9.0,
                10.0,
                10.0,
                10.0,
                10.0,
                10.0,
                11.0,
                13.0,
                15.0,
                16.0,
                18.0,
                112.0,
                186.0,
                197.0,
                228.0,
                354.0,
                501.0,
                585.0,
                1114.0,
                1297.0,
                1667.0,
                1971.0,
                2323.0,
                2735.0,
                3100.0,
                3616.0,
                4050.0,
                4653.0,
                5311.0,
                6013.0,
                6650.0,
                7172.0,
                7758.0,
                8235.0,
                8979.0,
                9712.0,
                10543.0,
                11207.0,
                11843.0,
                12586.0,
                13188.0,
                13986.0,
                14761.0,
                15541.0,
                16425.0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "infections",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    null
                ],
                [
                    "2020-03-09",
                    null
                ],
                [
                    "2020-03-10",
                    null
                ],
                [
                    "2020-03-11",
                    null
                ],
                [
                    "2020-03-12",
                    null
                ],
                [
                    "2020-03-13",
                    null
                ],
                [
                    "2020-03-14",
                    null
                ],
                [
                    "2020-03-15",
                    1.44
                ],
                [
                    "2020-03-16",
                    1.16
                ],
                [
                    "2020-03-17",
                    1.37
                ],
                [
                    "2020-03-18",
                    1.41
                ],
                [
                    "2020-03-19",
                    1.46
                ],
                [
                    "2020-03-20",
                    1.38
                ],
                [
                    "2020-03-21",
                    1.45
                ],
                [
                    "2020-03-22",
                    1.39
                ],
                [
                    "2020-03-23",
                    1.83
                ],
                [
                    "2020-03-24",
                    2.27
                ],
                [
                    "2020-03-25",
                    2.24
                ],
                [
                    "2020-03-26",
                    2.42
                ],
                [
                    "2020-03-27",
                    2.63
                ],
                [
                    "2020-03-28",
                    2.79
                ],
                [
                    "2020-03-29",
                    2.88
                ],
                [
                    "2020-03-30",
                    3.18
                ],
                [
                    "2020-03-31",
                    3.43
                ],
                [
                    "2020-04-01",
                    3.8
                ],
                [
                    "2020-04-02",
                    4.12
                ],
                [
                    "2020-04-03",
                    4.22
                ],
                [
                    "2020-04-04",
                    4.44
                ],
                [
                    "2020-04-05",
                    4.73
                ],
                [
                    "2020-04-06",
                    4.91
                ],
                [
                    "2020-04-07",
                    5.14
                ],
                [
                    "2020-04-08",
                    5.3
                ],
                [
                    "2020-04-09",
                    5.5
                ],
                [
                    "2020-04-10",
                    5.64
                ],
                [
                    "2020-04-11",
                    5.75
                ],
                [
                    "2020-04-12",
                    5.81
                ],
                [
                    "2020-04-13",
                    5.88
                ],
                [
                    "2020-04-14",
                    5.96
                ],
                [
                    "2020-04-15",
                    6.04
                ],
                [
                    "2020-04-16",
                    6.16
                ],
                [
                    "2020-04-17",
                    6.21
                ],
                [
                    "2020-04-18",
                    6.25
                ],
                [
                    "2020-04-19",
                    6.3
                ],
                [
                    "2020-04-20",
                    6.37
                ],
                [
                    "2020-04-21",
                    6.41
                ],
                [
                    "2020-04-22",
                    6.46
                ],
                [
                    "2020-04-23",
                    6.52
                ],
                [
                    "2020-04-24",
                    6.51
                ],
                [
                    "2020-04-25",
                    6.51
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "mortality",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    1.49
                ],
                [
                    "2020-03-09",
                    1.16
                ],
                [
                    "2020-03-10",
                    1.05
                ],
                [
                    "2020-03-11",
                    1.72
                ],
                [
                    "2020-03-12",
                    1.28
                ],
                [
                    "2020-03-13",
                    1.01
                ],
                [
                    "2020-03-14",
                    0.78
                ],
                [
                    "2020-03-15",
                    0.59
                ],
                [
                    "2020-03-16",
                    1.13
                ],
                [
                    "2020-03-17",
                    1.34
                ],
                [
                    "2020-03-18",
                    1.24
                ],
                [
                    "2020-03-19",
                    1.37
                ],
                [
                    "2020-03-20",
                    1.2
                ],
                [
                    "2020-03-21",
                    1.35
                ],
                [
                    "2020-03-22",
                    1.43
                ],
                [
                    "2020-03-23",
                    1.15
                ],
                [
                    "2020-03-24",
                    0.96
                ],
                [
                    "2020-03-25",
                    1.03
                ],
                [
                    "2020-03-26",
                    0.96
                ],
                [
                    "2020-03-27",
                    1.16
                ],
                [
                    "2020-03-28",
                    1.08
                ],
                [
                    "2020-03-29",
                    1.04
                ],
                [
                    "2020-03-30",
                    1.21
                ],
                [
                    "2020-03-31",
                    1.47
                ],
                [
                    "2020-04-01",
                    1.42
                ],
                [
                    "2020-04-02",
                    1.44
                ],
                [
                    "2020-04-03",
                    1.72
                ],
                [
                    "2020-04-04",
                    1.89
                ],
                [
                    "2020-04-05",
                    1.9
                ],
                [
                    "2020-04-06",
                    2.06
                ],
                [
                    "2020-04-07",
                    2.25
                ],
                [
                    "2020-04-08",
                    2.38
                ],
                [
                    "2020-04-09",
                    2.53
                ],
                [
                    "2020-04-10",
                    2.71
                ],
                [
                    "2020-04-11",
                    2.88
                ],
                [
                    "2020-04-12",
                    2.97
                ],
                [
                    "2020-04-13",
                    3.11
                ],
                [
                    "2020-04-14",
                    3.46
                ],
                [
                    "2020-04-15",
                    3.66
                ],
                [
                    "2020-04-16",
                    4.03
                ],
                [
                    "2020-04-17",
                    4.16
                ],
                [
                    "2020-04-18",
                    4.44
                ],
                [
                    "2020-04-19",
                    4.54
                ],
                [
                    "2020-04-20",
                    4.64
                ],
                [
                    "2020-04-21",
                    4.85
                ],
                [
                    "2020-04-22",
                    5.01
                ],
                [
                    "2020-04-23",
                    5.16
                ],
                [
                    "2020-04-24",
                    5.33
                ],
                [
                    "2020-04-25",
                    5.52
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "recovered",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    11.94
                ],
                [
                    "2020-03-09",
                    10.47
                ],
                [
                    "2020-03-10",
                    9.47
                ],
                [
                    "2020-03-11",
                    7.76
                ],
                [
                    "2020-03-12",
                    5.77
                ],
                [
                    "2020-03-13",
                    5.05
                ],
                [
                    "2020-03-14",
                    3.89
                ],
                [
                    "2020-03-15",
                    2.93
                ],
                [
                    "2020-03-16",
                    2.27
                ],
                [
                    "2020-03-17",
                    1.68
                ],
                [
                    "2020-03-18",
                    1.51
                ],
                [
                    "2020-03-19",
                    1.49
                ],
                [
                    "2020-03-20",
                    1.38
                ],
                [
                    "2020-03-21",
                    1.2
                ],
                [
                    "2020-03-22",
                    1.22
                ],
                [
                    "2020-03-23",
                    5.36
                ],
                [
                    "2020-03-24",
                    6.6
                ],
                [
                    "2020-03-25",
                    5.78
                ],
                [
                    "2020-03-26",
                    5.64
                ],
                [
                    "2020-03-27",
                    7.44
                ],
                [
                    "2020-03-28",
                    8.86
                ],
                [
                    "2020-03-29",
                    9.26
                ],
                [
                    "2020-03-30",
                    14.96
                ],
                [
                    "2020-03-31",
                    15.1
                ],
                [
                    "2020-04-01",
                    16.36
                ],
                [
                    "2020-04-02",
                    16.73
                ],
                [
                    "2020-04-03",
                    17.9
                ],
                [
                    "2020-04-04",
                    18.98
                ],
                [
                    "2020-04-05",
                    19.48
                ],
                [
                    "2020-04-06",
                    21.07
                ],
                [
                    "2020-04-07",
                    21.82
                ],
                [
                    "2020-04-08",
                    23.44
                ],
                [
                    "2020-04-09",
                    24.81
                ],
                [
                    "2020-04-10",
                    26.47
                ],
                [
                    "2020-04-11",
                    27.75
                ],
                [
                    "2020-04-12",
                    28.62
                ],
                [
                    "2020-04-13",
                    29.36
                ],
                [
                    "2020-04-14",
                    29.53
                ],
                [
                    "2020-04-15",
                    30.71
                ],
                [
                    "2020-04-16",
                    31.36
                ],
                [
                    "2020-04-17",
                    32.1
                ],
                [
                    "2020-04-18",
                    32.6
                ],
                [
                    "2020-04-19",
                    32.88
                ],
                [
                    "2020-04-20",
                    33.25
                ],
                [
                    "2020-04-21",
                    33.48
                ],
                [
                    "2020-04-22",
                    33.82
                ],
                [
                    "2020-04-23",
                    34.15
                ],
                [
                    "2020-04-24",
                    34.65
                ],
                [
                    "2020-04-25",
                    35.5
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "infections",
                "mortality",
                "recovered",
                "infections",
                "mortality",
                "recovered"
            ],
            "selected": {
                "infections": true,
                "mortality": true,
                "recovered": true
            },
            "show": true,
            "left": "25%",
            "right": "10%",
            "top": "10%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-03-08",
                "2020-03-09",
                "2020-03-10",
                "2020-03-11",
                "2020-03-12",
                "2020-03-13",
                "2020-03-14",
                "2020-03-15",
                "2020-03-16",
                "2020-03-17",
                "2020-03-18",
                "2020-03-19",
                "2020-03-20",
                "2020-03-21",
                "2020-03-22",
                "2020-03-23",
                "2020-03-24",
                "2020-03-25",
                "2020-03-26",
                "2020-03-27",
                "2020-03-28",
                "2020-03-29",
                "2020-03-30",
                "2020-03-31",
                "2020-04-01",
                "2020-04-02",
                "2020-04-03",
                "2020-04-04",
                "2020-04-05",
                "2020-04-06",
                "2020-04-07",
                "2020-04-08",
                "2020-04-09",
                "2020-04-10",
                "2020-04-11",
                "2020-04-12",
                "2020-04-13",
                "2020-04-14",
                "2020-04-15",
                "2020-04-16",
                "2020-04-17",
                "2020-04-18",
                "2020-04-19",
                "2020-04-20",
                "2020-04-21",
                "2020-04-22",
                "2020-04-23",
                "2020-04-24",
                "2020-04-25"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value}%"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 100,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Infections/Mortality/Recovered Ratio",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "75%",
        "top": "2%",
        "feature": {
            "saveAsImage": {
                "is_show": true,
                "title": "save as image"
            },
            "restore": {
                "is_show": true,
                "title": "restore"
            },
            "dataView": {
                "title": "data view",
                "lang": [
                    "data view",
                    "close",
                    "refresh"
                ]
            },
            "dataZoom": {
                "is_show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            },
            "magicType": {
                "is_show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "line graph",
                    "bar": "bar graph",
                    "stack": "stack gragh",
                    "tiled": "tiled gragh"
                }
            },
            "brush": false
        }
    },
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": false,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "xAxisIndex": 0,
            "zoomLock": false
        }
    ]
};
        chart_7c5fb08e5c734d45bc075de824436dfa.setOption(option_7c5fb08e5c734d45bc075de824436dfa);
    </script>
</body>
</html>
