<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="811e3b688de149cda5a53a5a5ed67d31" class="chart-container" style="width:800px; height:600px;"></div>
    <script>
        var chart_811e3b688de149cda5a53a5a5ed67d31 = echarts.init(
            document.getElementById('811e3b688de149cda5a53a5a5ed67d31'), 'white', {renderer: 'canvas'});
        var option_811e3b688de149cda5a53a5a5ed67d31 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "infections",
            "data": [
                67,
                86,
                95,
                116,
                156,
                198,
                257,
                341,
                441,
                597,
                727,
                873,
                1087,
                1331,
                1471,
                2091,
                2819,
                3409,
                4043,
                4757,
                5655,
                6320,
                7448,
                8591,
                10190,
                11778,
                12980,
                14409,
                15915,
                17165,
                18562,
                19853,
                21403,
                22715,
                23962,
                25060,
                26428,
                27888,
                29234,
                30966,
                32849,
                34379,
                36013,
                37856,
                39387,
                41357,
                43220,
                44844,
                46263,
                47850,
                49482,
                50948,
                52641,
                54215,
                56171,
                57749,
                60309,
                61792,
                63060,
                64547,
                66057,
                67525,
                68767,
                69934,
                71121,
                72279,
                73428,
                74652,
                75831,
                77064,
                78190,
                79266,
                80381,
                81460,
                82633,
                83843,
                85043,
                85999,
                87026,
                88002
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "mortality",
            "data": [
                1.0,
                1.0,
                1.0,
                2.0,
                2.0,
                2.0,
                2.0,
                2.0,
                5.0,
                8.0,
                9.0,
                12.0,
                13.0,
                18.0,
                21.0,
                24.0,
                27.0,
                35.0,
                39.0,
                55.0,
                61.0,
                66.0,
                90.0,
                126.0,
                145.0,
                170.0,
                223.0,
                272.0,
                302.0,
                353.0,
                417.0,
                472.0,
                541.0,
                615.0,
                689.0,
                745.0,
                821.0,
                966.0,
                1070.0,
                1249.0,
                1365.0,
                1527.0,
                1636.0,
                1757.0,
                1909.0,
                2072.0,
                2232.0,
                2389.0,
                2552.0,
                2670.0,
                2817.0,
                2958.0,
                3133.0,
                3278.0,
                3507.0,
                3654.0,
                3768.0,
                3980.0,
                4167.0,
                4347.0,
                4522.0,
                4677.0,
                4802.0,
                4963.0,
                5099.0,
                5282.0,
                5409.0,
                5576.0,
                5662.0,
                5780.0,
                5883.0,
                5940.0,
                6010.0,
                6135.0,
                6249.0,
                6341.0,
                6446.0,
                6514.0,
                6635.0,
                6731.0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "recovered",
            "data": [
                8.0,
                9.0,
                9.0,
                9.0,
                9.0,
                10.0,
                10.0,
                10.0,
                10.0,
                10.0,
                11.0,
                13.0,
                15.0,
                16.0,
                18.0,
                112.0,
                186.0,
                198.0,
                229.0,
                356.0,
                505.0,
                589.0,
                1122.0,
                1306.0,
                1676.0,
                1981.0,
                2335.0,
                2748.0,
                3113.0,
                3629.0,
                4063.0,
                4666.0,
                5324.0,
                6026.0,
                6663.0,
                7185.0,
                7771.0,
                8248.0,
                8992.0,
                9725.0,
                10556.0,
                11220.0,
                11856.0,
                12599.0,
                13201.0,
                13999.0,
                14774.0,
                15554.0,
                16438.0,
                17334.0,
                18281.0,
                19244.0,
                20340.0,
                21437.0,
                22764.0,
                23814.0,
                24921.0,
                26030.0,
                27006.0,
                28184.0,
                29260.0,
                30239.0,
                31262.0,
                32109.0,
                33007.0,
                34055.0,
                35177.0,
                36104.0,
                36908.0,
                37832.0,
                38563.0,
                39251.0,
                40063.0,
                40789.0,
                41728.0,
                42607.0,
                43318.0,
                43998.0,
                44651.0,
                45352.0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "infections",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    null
                ],
                [
                    "2020-03-09",
                    null
                ],
                [
                    "2020-03-10",
                    null
                ],
                [
                    "2020-03-11",
                    null
                ],
                [
                    "2020-03-12",
                    null
                ],
                [
                    "2020-03-13",
                    null
                ],
                [
                    "2020-03-14",
                    null
                ],
                [
                    "2020-03-15",
                    1.44
                ],
                [
                    "2020-03-16",
                    1.16
                ],
                [
                    "2020-03-17",
                    1.37
                ],
                [
                    "2020-03-18",
                    1.41
                ],
                [
                    "2020-03-19",
                    1.46
                ],
                [
                    "2020-03-20",
                    1.38
                ],
                [
                    "2020-03-21",
                    1.45
                ],
                [
                    "2020-03-22",
                    1.39
                ],
                [
                    "2020-03-23",
                    1.83
                ],
                [
                    "2020-03-24",
                    2.27
                ],
                [
                    "2020-03-25",
                    2.24
                ],
                [
                    "2020-03-26",
                    2.42
                ],
                [
                    "2020-03-27",
                    2.63
                ],
                [
                    "2020-03-28",
                    2.79
                ],
                [
                    "2020-03-29",
                    2.88
                ],
                [
                    "2020-03-30",
                    3.18
                ],
                [
                    "2020-03-31",
                    3.43
                ],
                [
                    "2020-04-01",
                    3.8
                ],
                [
                    "2020-04-02",
                    4.12
                ],
                [
                    "2020-04-03",
                    4.22
                ],
                [
                    "2020-04-04",
                    4.44
                ],
                [
                    "2020-04-05",
                    4.73
                ],
                [
                    "2020-04-06",
                    4.91
                ],
                [
                    "2020-04-07",
                    5.14
                ],
                [
                    "2020-04-08",
                    5.3
                ],
                [
                    "2020-04-09",
                    5.5
                ],
                [
                    "2020-04-10",
                    5.64
                ],
                [
                    "2020-04-11",
                    5.75
                ],
                [
                    "2020-04-12",
                    5.81
                ],
                [
                    "2020-04-13",
                    5.88
                ],
                [
                    "2020-04-14",
                    5.96
                ],
                [
                    "2020-04-15",
                    6.04
                ],
                [
                    "2020-04-16",
                    6.16
                ],
                [
                    "2020-04-17",
                    6.21
                ],
                [
                    "2020-04-18",
                    6.25
                ],
                [
                    "2020-04-19",
                    6.3
                ],
                [
                    "2020-04-20",
                    6.37
                ],
                [
                    "2020-04-21",
                    6.41
                ],
                [
                    "2020-04-22",
                    6.46
                ],
                [
                    "2020-04-23",
                    6.51
                ],
                [
                    "2020-04-24",
                    6.51
                ],
                [
                    "2020-04-25",
                    6.5
                ],
                [
                    "2020-04-26",
                    6.51
                ],
                [
                    "2020-04-27",
                    6.47
                ],
                [
                    "2020-04-28",
                    6.47
                ],
                [
                    "2020-04-29",
                    6.46
                ],
                [
                    "2020-04-30",
                    6.45
                ],
                [
                    "2020-05-01",
                    6.44
                ],
                [
                    "2020-05-02",
                    6.39
                ],
                [
                    "2020-05-03",
                    6.46
                ],
                [
                    "2020-05-04",
                    6.4
                ],
                [
                    "2020-05-05",
                    6.39
                ],
                [
                    "2020-05-06",
                    6.33
                ],
                [
                    "2020-05-07",
                    6.27
                ],
                [
                    "2020-05-08",
                    6.22
                ],
                [
                    "2020-05-09",
                    6.14
                ],
                [
                    "2020-05-10",
                    6.1
                ],
                [
                    "2020-05-11",
                    6.04
                ],
                [
                    "2020-05-12",
                    6.01
                ],
                [
                    "2020-05-13",
                    5.96
                ],
                [
                    "2020-05-14",
                    5.91
                ],
                [
                    "2020-05-15",
                    5.85
                ],
                [
                    "2020-05-16",
                    5.79
                ],
                [
                    "2020-05-17",
                    5.74
                ],
                [
                    "2020-05-18",
                    5.73
                ],
                [
                    "2020-05-19",
                    5.72
                ],
                [
                    "2020-05-20",
                    5.72
                ],
                [
                    "2020-05-21",
                    5.7
                ],
                [
                    "2020-05-22",
                    5.68
                ],
                [
                    "2020-05-23",
                    5.66
                ],
                [
                    "2020-05-24",
                    5.63
                ],
                [
                    "2020-05-25",
                    5.59
                ],
                [
                    "2020-05-26",
                    5.57
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "mortality",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    1.49
                ],
                [
                    "2020-03-09",
                    1.16
                ],
                [
                    "2020-03-10",
                    1.05
                ],
                [
                    "2020-03-11",
                    1.72
                ],
                [
                    "2020-03-12",
                    1.28
                ],
                [
                    "2020-03-13",
                    1.01
                ],
                [
                    "2020-03-14",
                    0.78
                ],
                [
                    "2020-03-15",
                    0.59
                ],
                [
                    "2020-03-16",
                    1.13
                ],
                [
                    "2020-03-17",
                    1.34
                ],
                [
                    "2020-03-18",
                    1.24
                ],
                [
                    "2020-03-19",
                    1.37
                ],
                [
                    "2020-03-20",
                    1.2
                ],
                [
                    "2020-03-21",
                    1.35
                ],
                [
                    "2020-03-22",
                    1.43
                ],
                [
                    "2020-03-23",
                    1.15
                ],
                [
                    "2020-03-24",
                    0.96
                ],
                [
                    "2020-03-25",
                    1.03
                ],
                [
                    "2020-03-26",
                    0.96
                ],
                [
                    "2020-03-27",
                    1.16
                ],
                [
                    "2020-03-28",
                    1.08
                ],
                [
                    "2020-03-29",
                    1.04
                ],
                [
                    "2020-03-30",
                    1.21
                ],
                [
                    "2020-03-31",
                    1.47
                ],
                [
                    "2020-04-01",
                    1.42
                ],
                [
                    "2020-04-02",
                    1.44
                ],
                [
                    "2020-04-03",
                    1.72
                ],
                [
                    "2020-04-04",
                    1.89
                ],
                [
                    "2020-04-05",
                    1.9
                ],
                [
                    "2020-04-06",
                    2.06
                ],
                [
                    "2020-04-07",
                    2.25
                ],
                [
                    "2020-04-08",
                    2.38
                ],
                [
                    "2020-04-09",
                    2.53
                ],
                [
                    "2020-04-10",
                    2.71
                ],
                [
                    "2020-04-11",
                    2.88
                ],
                [
                    "2020-04-12",
                    2.97
                ],
                [
                    "2020-04-13",
                    3.11
                ],
                [
                    "2020-04-14",
                    3.46
                ],
                [
                    "2020-04-15",
                    3.66
                ],
                [
                    "2020-04-16",
                    4.03
                ],
                [
                    "2020-04-17",
                    4.16
                ],
                [
                    "2020-04-18",
                    4.44
                ],
                [
                    "2020-04-19",
                    4.54
                ],
                [
                    "2020-04-20",
                    4.64
                ],
                [
                    "2020-04-21",
                    4.85
                ],
                [
                    "2020-04-22",
                    5.01
                ],
                [
                    "2020-04-23",
                    5.16
                ],
                [
                    "2020-04-24",
                    5.33
                ],
                [
                    "2020-04-25",
                    5.52
                ],
                [
                    "2020-04-26",
                    5.58
                ],
                [
                    "2020-04-27",
                    5.69
                ],
                [
                    "2020-04-28",
                    5.81
                ],
                [
                    "2020-04-29",
                    5.95
                ],
                [
                    "2020-04-30",
                    6.05
                ],
                [
                    "2020-05-01",
                    6.24
                ],
                [
                    "2020-05-02",
                    6.33
                ],
                [
                    "2020-05-03",
                    6.25
                ],
                [
                    "2020-05-04",
                    6.44
                ],
                [
                    "2020-05-05",
                    6.61
                ],
                [
                    "2020-05-06",
                    6.73
                ],
                [
                    "2020-05-07",
                    6.85
                ],
                [
                    "2020-05-08",
                    6.93
                ],
                [
                    "2020-05-09",
                    6.98
                ],
                [
                    "2020-05-10",
                    7.1
                ],
                [
                    "2020-05-11",
                    7.17
                ],
                [
                    "2020-05-12",
                    7.31
                ],
                [
                    "2020-05-13",
                    7.37
                ],
                [
                    "2020-05-14",
                    7.47
                ],
                [
                    "2020-05-15",
                    7.47
                ],
                [
                    "2020-05-16",
                    7.5
                ],
                [
                    "2020-05-17",
                    7.52
                ],
                [
                    "2020-05-18",
                    7.49
                ],
                [
                    "2020-05-19",
                    7.48
                ],
                [
                    "2020-05-20",
                    7.53
                ],
                [
                    "2020-05-21",
                    7.56
                ],
                [
                    "2020-05-22",
                    7.56
                ],
                [
                    "2020-05-23",
                    7.58
                ],
                [
                    "2020-05-24",
                    7.57
                ],
                [
                    "2020-05-25",
                    7.62
                ],
                [
                    "2020-05-26",
                    7.65
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "recovered",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-03-08",
                    11.94
                ],
                [
                    "2020-03-09",
                    10.47
                ],
                [
                    "2020-03-10",
                    9.47
                ],
                [
                    "2020-03-11",
                    7.76
                ],
                [
                    "2020-03-12",
                    5.77
                ],
                [
                    "2020-03-13",
                    5.05
                ],
                [
                    "2020-03-14",
                    3.89
                ],
                [
                    "2020-03-15",
                    2.93
                ],
                [
                    "2020-03-16",
                    2.27
                ],
                [
                    "2020-03-17",
                    1.68
                ],
                [
                    "2020-03-18",
                    1.51
                ],
                [
                    "2020-03-19",
                    1.49
                ],
                [
                    "2020-03-20",
                    1.38
                ],
                [
                    "2020-03-21",
                    1.2
                ],
                [
                    "2020-03-22",
                    1.22
                ],
                [
                    "2020-03-23",
                    5.36
                ],
                [
                    "2020-03-24",
                    6.6
                ],
                [
                    "2020-03-25",
                    5.81
                ],
                [
                    "2020-03-26",
                    5.66
                ],
                [
                    "2020-03-27",
                    7.48
                ],
                [
                    "2020-03-28",
                    8.93
                ],
                [
                    "2020-03-29",
                    9.32
                ],
                [
                    "2020-03-30",
                    15.06
                ],
                [
                    "2020-03-31",
                    15.2
                ],
                [
                    "2020-04-01",
                    16.45
                ],
                [
                    "2020-04-02",
                    16.82
                ],
                [
                    "2020-04-03",
                    17.99
                ],
                [
                    "2020-04-04",
                    19.07
                ],
                [
                    "2020-04-05",
                    19.56
                ],
                [
                    "2020-04-06",
                    21.14
                ],
                [
                    "2020-04-07",
                    21.89
                ],
                [
                    "2020-04-08",
                    23.5
                ],
                [
                    "2020-04-09",
                    24.88
                ],
                [
                    "2020-04-10",
                    26.53
                ],
                [
                    "2020-04-11",
                    27.81
                ],
                [
                    "2020-04-12",
                    28.67
                ],
                [
                    "2020-04-13",
                    29.4
                ],
                [
                    "2020-04-14",
                    29.58
                ],
                [
                    "2020-04-15",
                    30.76
                ],
                [
                    "2020-04-16",
                    31.41
                ],
                [
                    "2020-04-17",
                    32.13
                ],
                [
                    "2020-04-18",
                    32.64
                ],
                [
                    "2020-04-19",
                    32.92
                ],
                [
                    "2020-04-20",
                    33.28
                ],
                [
                    "2020-04-21",
                    33.52
                ],
                [
                    "2020-04-22",
                    33.85
                ],
                [
                    "2020-04-23",
                    34.18
                ],
                [
                    "2020-04-24",
                    34.68
                ],
                [
                    "2020-04-25",
                    35.53
                ],
                [
                    "2020-04-26",
                    36.23
                ],
                [
                    "2020-04-27",
                    36.94
                ],
                [
                    "2020-04-28",
                    37.77
                ],
                [
                    "2020-04-29",
                    38.64
                ],
                [
                    "2020-04-30",
                    39.54
                ],
                [
                    "2020-05-01",
                    40.53
                ],
                [
                    "2020-05-02",
                    41.24
                ],
                [
                    "2020-05-03",
                    41.32
                ],
                [
                    "2020-05-04",
                    42.13
                ],
                [
                    "2020-05-05",
                    42.83
                ],
                [
                    "2020-05-06",
                    43.66
                ],
                [
                    "2020-05-07",
                    44.3
                ],
                [
                    "2020-05-08",
                    44.78
                ],
                [
                    "2020-05-09",
                    45.46
                ],
                [
                    "2020-05-10",
                    45.91
                ],
                [
                    "2020-05-11",
                    46.41
                ],
                [
                    "2020-05-12",
                    47.12
                ],
                [
                    "2020-05-13",
                    47.91
                ],
                [
                    "2020-05-14",
                    48.36
                ],
                [
                    "2020-05-15",
                    48.67
                ],
                [
                    "2020-05-16",
                    49.09
                ],
                [
                    "2020-05-17",
                    49.32
                ],
                [
                    "2020-05-18",
                    49.52
                ],
                [
                    "2020-05-19",
                    49.84
                ],
                [
                    "2020-05-20",
                    50.07
                ],
                [
                    "2020-05-21",
                    50.5
                ],
                [
                    "2020-05-22",
                    50.82
                ],
                [
                    "2020-05-23",
                    50.94
                ],
                [
                    "2020-05-24",
                    51.16
                ],
                [
                    "2020-05-25",
                    51.31
                ],
                [
                    "2020-05-26",
                    51.54
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "infections",
                "mortality",
                "recovered",
                "infections",
                "mortality",
                "recovered"
            ],
            "selected": {
                "infections": true,
                "mortality": true,
                "recovered": true
            },
            "show": true,
            "left": "25%",
            "right": "10%",
            "top": "10%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-03-08",
                "2020-03-09",
                "2020-03-10",
                "2020-03-11",
                "2020-03-12",
                "2020-03-13",
                "2020-03-14",
                "2020-03-15",
                "2020-03-16",
                "2020-03-17",
                "2020-03-18",
                "2020-03-19",
                "2020-03-20",
                "2020-03-21",
                "2020-03-22",
                "2020-03-23",
                "2020-03-24",
                "2020-03-25",
                "2020-03-26",
                "2020-03-27",
                "2020-03-28",
                "2020-03-29",
                "2020-03-30",
                "2020-03-31",
                "2020-04-01",
                "2020-04-02",
                "2020-04-03",
                "2020-04-04",
                "2020-04-05",
                "2020-04-06",
                "2020-04-07",
                "2020-04-08",
                "2020-04-09",
                "2020-04-10",
                "2020-04-11",
                "2020-04-12",
                "2020-04-13",
                "2020-04-14",
                "2020-04-15",
                "2020-04-16",
                "2020-04-17",
                "2020-04-18",
                "2020-04-19",
                "2020-04-20",
                "2020-04-21",
                "2020-04-22",
                "2020-04-23",
                "2020-04-24",
                "2020-04-25",
                "2020-04-26",
                "2020-04-27",
                "2020-04-28",
                "2020-04-29",
                "2020-04-30",
                "2020-05-01",
                "2020-05-02",
                "2020-05-03",
                "2020-05-04",
                "2020-05-05",
                "2020-05-06",
                "2020-05-07",
                "2020-05-08",
                "2020-05-09",
                "2020-05-10",
                "2020-05-11",
                "2020-05-12",
                "2020-05-13",
                "2020-05-14",
                "2020-05-15",
                "2020-05-16",
                "2020-05-17",
                "2020-05-18",
                "2020-05-19",
                "2020-05-20",
                "2020-05-21",
                "2020-05-22",
                "2020-05-23",
                "2020-05-24",
                "2020-05-25",
                "2020-05-26"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value}%"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 100,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Infections/Mortality/Recovered Ratio",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "75%",
        "top": "2%",
        "feature": {
            "saveAsImage": {
                "is_show": true,
                "title": "save as image"
            },
            "restore": {
                "is_show": true,
                "title": "restore"
            },
            "dataView": {
                "title": "data view",
                "lang": [
                    "data view",
                    "close",
                    "refresh"
                ]
            },
            "dataZoom": {
                "is_show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            },
            "magicType": {
                "is_show": true,
                "type": [
                    "line",
                    "bar",
                    "tiled"
                ],
                "title": {
                    "line": "line graph",
                    "bar": "bar graph",
                    "tiled": "tiled gragh"
                }
            },
            "brush": false
        }
    },
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": false,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "xAxisIndex": 0,
            "zoomLock": false
        }
    ]
};
        chart_811e3b688de149cda5a53a5a5ed67d31.setOption(option_811e3b688de149cda5a53a5a5ed67d31);
    </script>
</body>
</html>
