<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="1e165d45c3d947858095eab8ee08e0d1" class="chart-container" style="width:600px; height:600px;"></div>
    <script>
        var chart_1e165d45c3d947858095eab8ee08e0d1 = echarts.init(
            document.getElementById('1e165d45c3d947858095eab8ee08e0d1'), 'white', {renderer: 'canvas'});
        var option_1e165d45c3d947858095eab8ee08e0d1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "unknown",
                    "value": 89129
                },
                {
                    "name": "close contact",
                    "value": 540
                },
                {
                    "name": "community",
                    "value": 223
                }
            ],
            "radius": [
                "30%",
                "55%"
            ],
            "center": [
                "55%",
                "45%"
            ],
            "roseType": "radius",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "unknown",
                "close contact",
                "community"
            ],
            "selected": {},
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "Sources of Infections",
            "subtext": "only based on reported information",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "vertical",
        "itemSize": 15,
        "itemGap": 10,
        "left": "85%",
        "feature": {
            "saveAsImage": {
                "is_show": true,
                "title": "save as image"
            },
            "restore": {
                "is_show": true,
                "title": "restore"
            },
            "dataView": {
                "title": "data view",
                "lang": [
                    "data view",
                    "close",
                    "refresh"
                ]
            },
            "dataZoom": {
                "is_show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            },
            "magicType": {
                "is_show": true,
                "type": [
                    "line",
                    "bar",
                    "tiled"
                ],
                "title": {
                    "line": "line graph",
                    "bar": "bar graph",
                    "tiled": "tiled gragh"
                }
            },
            "brush": false
        }
    }
};
        chart_1e165d45c3d947858095eab8ee08e0d1.setOption(option_1e165d45c3d947858095eab8ee08e0d1);
    </script>
</body>
</html>
